# ===== CONTRACT CONFIGURATION =====
TREASURY_ADDRESS=0x2F8f86e6E1Ff118861BEB7E583DE90f0449A264f   # Treasury Address - research.bittrees.eth
ADMIN_ADDRESS=0x2F8f86e6E1Ff118861BEB7E583DE90f0449A264f      # Admin Address - research.bittrees.eth

# ===== SAFE CONFIGURATION =====
SAFE_ADDRESS=0x2CB5C7bd24480C9D450eD07eb49F4525ee41083a       # Deployer Address - technology.gov.bittrees.eth
# uncomment the network you wish to use
#SAFE_SERVICE_URL=https://safe-transaction-mainnet.safe.global  # Ethereum Mainnet
#SAFE_SERVICE_URL=https://safe-transaction-base.safe.global  # Base
SAFE_SERVICE_URL=https://safe-transaction-sepolia.safe.global # Sepolia
#SAFE_SERVICE_URL=https://safe-transaction-base-sepolia.safe.global # Base Sepolia

# ===== RPC URLs =====
# mainnet RPCs
MAINNET_RPC_URL=https://eth-mainnet.g.alchemy.com/v2/your-api-key
BASE_RPC_URL=https://base-mainnet.g.alchemy.com/v2/your-api-key
# testnet RPCs
SEPOLIA_RPC_URL=https://eth-sepolia.g.alchemy.com/v2/your-api-key
BASE_SEPOLIA_RPC_URL=https://base-sepolia.g.alchemy.com/v2/your-api-key

# ===== EXECUTION MODE =====
PROPOSE_TX=true             # Set to true to propose a transaction to Safe
USE_LEDGER=true             # Set to true to use Ledger for signing
LEDGER_ADDRESS=0xdef...     # Your Ledger hardware wallet address