# ===== CONTRACT CONFIGURATION =====
TREASURY_ADDRESS=0x2F8f86e6E1Ff118861BEB7E583DE90f0449A264f         # treasury address - Bittrees Research Multisig
ADMIN_ADDRESS=0x2F8f86e6E1Ff118861BEB7E583DE90f0449A264f            # ADMIN_ROLE - Bittrees Research Multisig
DEFAULT_ADMIN_ADDRESS=0x2F8f86e6E1Ff118861BEB7E583DE90f0449A264f    # DEFAULT_ADMIN_ROLE - Bittrees Research Multisig

# initial address for DEFAULT_ADMIN_ROLE and ADMIN_ROLE for contract configuration purposes- Bittrees Technology Multisig
INITIAL_ADMIN_AND_DEFAULT_ADMIN_ADDRESS=0x525C9Baa87aDddDc23C2F01Aa9d0c010c722c9Bf

# ===== SAFE CONFIGURATION =====
CREATE2_FACTORY_CALLER_ADDRESS=0x525C9Baa87aDddDc23C2F01Aa9d0c010c722c9Bf       # Bittrees Technology Multisig

# ===== RPC URLs =====
# mainnet RPCs
MAINNET_RPC_URL=https://eth-mainnet.g.alchemy.com/v2/your-api-key
BASE_RPC_URL=https://base-mainnet.g.alchemy.com/v2/your-api-key
OPTIMISM_RPC_URL=https://opt-mainnet.g.alchemy.com/v2/your-api-key
ARBITRUM_RPC_URL=https://arb-mainnet.g.alchemy.com/v2/your-api-key
# testnet RPCs
SEPOLIA_RPC_URL=https://eth-sepolia.g.alchemy.com/v2/your-api-key
BASE_SEPOLIA_RPC_URL=https://base-sepolia.g.alchemy.com/v2/your-api-key
OPTIMISM_SEPOLIA_RPC_URL=https://opt-sepolia.g.alchemy.com/v2/your-api-key
ARBITRUM_SEPOLIA_RPC_URL=https://arb-sepolia.g.alchemy.com/v2/your-api-key

# ===== CONTRACT VERIFICATION =====
ETHERSCAN_API_KEY=
BASESCAN_API_KEY=
OPTIMISM_API_KEY=
ARBITRUM_API_KEY=

# ===== EXECUTION MODE =====
PROPOSE_TX=true             # Set to true to propose a transaction to Safe
USE_LEDGER=true             # Set to true to use Ledger for signing
LEDGER_ADDRESS=0xdef...     # Your Ledger hardware wallet address
PRIVATE_KEY=    # If you want to sign with local keys and USE_LEDGER=false